* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 1.67;
    color: #444;
    padding: 60px 0;
}

.section-title {
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    display: inline-block;
    position: relative;
}
.section-title:after,
.section-title:before {
    content: '';
    position: absolute;
    bottom: 0;
}
.section-title:after {
    height: 2px;
    background-color: rgba(252, 92, 15, 0.46);
    left: 25%;
    right: 25%;
}


.section-title:before {
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    background-color: #fc5c0f;
    left: 50%;
    transform: translatex(-50%);
    bottom: -6px;
    z-index: 9;
    border-radius: 50%;
}

/* CAROUSEL STARTS */
.customer-feedback .owl-item img {
    width: 200px;
    height: 200px;
    border: solid 10px transparent;
    background: #2C3447
}


.feedback-slider-item {
    padding: 60px;
    margin-top: -40px;
}

.customer-name {
    margin-top: 15px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}
.customer-post{
    display: block;
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #a6a6a6;
    
}

.feedback-slider-item p {
    padding: 45px 20px 40px 50px;
    line-height: 1.875;
    font-family: 'Bad Script', cursive;
    font-size: larger;
    font-weight: bold;
    background-color: #ffffff;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
    
    @media (min-width: 768px) {
        font-size: 1.4em;
    }
}



/* GREY BACKGROUND COLOR OF THE ACTIVE SLIDER */
.feedback-slider-item:after {
    content: '';
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    top: 103px;
    background-color:  #2C3447;;
    border: 1px solid rgba(251, 90, 13, .1);
    border-radius: 10px;
    z-index: -1;
    background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}





.customer-feedback .owl-nav [class*="owl-"] {
    position: relative;
    display: inline-block;
    bottom: 45px;
    transition: all .2s ease-in;
}

.customer-feedback .owl-nav i {
    background-color: transparent;
    color: rgb(251, 90, 13);
    font-size: 25px;
}

.customer-feedback .owl-prev {
    left: -15px;
}

.customer-feedback .owl-prev:hover {
    left: -20px;
}

.customer-feedback .owl-next {
    right: -15px;
}

.customer-feedback .owl-next:hover {
    right: -20px;
}

/* DOTS */
.customer-feedback .owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35px;
}
.customer-feedback .owl-dot {
    display: inline-block;
}

.customer-feedback .owl-dots .owl-dot span {
    width: 11px;
    height: 11px;
    margin: 0 5px;
    background: #fff;
    border: 1px solid rgb(251, 90, 13);
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border-radius: 50%;
}

.customer-feedback .owl-dots .owl-dot.active span {
    background-color: rgb(251, 90, 13);
}

/* RESPONSIVE */
@media screen and (max-width: 767px) {
    .feedback-slider-item:after {
        left: 30px;
        right: 30px;
    }
    .customer-feedback .owl-nav [class*="owl-"] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 45px;
        bottom: auto;
    }
    .customer-feedback .owl-prev {
        left: 0;
    }
    .customer-feedback .owl-next {
        right: 0;
    }
    
}

.feedback-slider-item .quote-icon-left, .feedback-slider-item .quote-icon-right {
    color: #d8dee1;
    font-size: 26px;
  }
  
  .feedback-slider-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }
  
  .feedback-slider-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
  }